/* src/styles.css */

/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background: url('/src/images/Prop.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

::selection {
    background-color: #ffffff;
    color: #000000;
}

.card {
    background-color: #000000;
    padding: 2em;
    border-radius: 12px;
    border: 0.5px solid #6E6E6E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
}

header.saintart {
    text-align: left;
}

h1, h2 {
    margin: 0 0 1em 0;
}

p {
    margin: 0 0 1em 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #858585;
}

section.signup, section.follow {
    margin: 1em 0;
}

section.signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.signup input[type="email"] {
    padding: 0.75em;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0.5px solid #6E6E6E;
    background-color: #2b2b2b;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

ul.socialicons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

ul.socialicons li {
    display: inline;
}

footer.saintfooter {
    background-color: #000000;
    padding: 1em;
    text-align: center;
    margin-top: 2em;
    border-top: 1px solid #6E6E6E;
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .card {
        padding: 1em;
    }
}
